* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #e6e6fa, white);
  font-family: "Raleway";
  font-size: 14px;
  text-align: center;
  height: fit-content;
  padding-bottom: 2rem;
  width: 30rem;
  margin: 0;
  border: 1px solid black;
}

.loginButton {
  background-color: #198754;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
